.footer{
    background-color: white;
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.contact-info{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 50px;
    align-items: right;
    justify-content: center;
    
}

.address,.details{
    margin-top: 30px;
    line-height: 5px;
    padding-left: 10px;
}

.sc-handels{
    width: 30%;
    margin-left:-10%;
    margin-top: 50px;
    text-align: center;
}

.handels{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.handle{
    margin: 10px;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 100%;
    text-align: center;
    padding: 9px;
    outline: none;

}
.handle > a:link{
    text-decoration: none;    
}
.other-links{
    margin-top: 50px;
    margin-left: 10%;

}

.top-button{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    outline: none;
}



.handle:hover,.top-button:hover{
    color: white;
    background-color: black;
}



@media only screen and ( max-width:650px ){
    .footer{
        flex-direction:column;
        
    }
    .sc-handels{
        margin-left:30%;
    }
    .handels{
        flex-flow: row;

    }
}